<tr>
  <th class='duration'><%= l(:email_subject)  %>:</th>
  <td colspan="3" class='duration'>[<%= issue.project.name %> - <%= issue.tracker.name %> #<%= issue.id %>] (<%= issue.status.name %>) <%= issue.subject %></td>
</tr>
